apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ai-gateway

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - pdb.yaml
  - servicemonitor.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
